{% extends 'base.html.twig' %}

{% block title %}Artist index{% endblock %}

{% block body %}
    <h1>Artist index</h1>
    <div class="cards-artist">
        {% for artist in artists %}
        <div class="card-artist">
            <div class="img-artist"><img src="{{ asset('images/artists/'~ artist.imageName) }}"></div>

            <p>{{ artist.id }} - <span>{{ artist.name }}</span></p>

            <div class="btns">
                <a class="btn btn-primary" href="{{ path('app_artist_show', {'id': artist.id}) }}">show</a>
                    <a class="btn btn-success" href="{{ path('app_artist_edit', {'id': artist.id}) }}">edit</a>
            </div>
        </div>
        {% else %}
        <p class="no-album">Nothing is here</p>
        {% endfor %}
        </div>
        <a class="btn btn-primary" href="{{ path('app_artist_new') }}">Create new</a>
    {% endblock %}

                        

