{% extends 'base.html.twig' %}

{% block title %}Album index{% endblock %}

{% block body %}
    <h1 class="title-album">Album index</h1>

    <div class="cards-album">
        {% for album in albums %}
        <div class="card-album">
            <div class="img-album"><img src="{{ asset('uploads/albums/pictures/'~album.albumImg) }}"></div>

            <p>{{ album.name }} - <span>{{ album.artist.name }}</span></p>

            <div class="btns">
                {% if app.user %}
                <a class="btn btn-primary" href="{{ path('app_album_show', {'id': album.id}) }}">show</a>
                {% if album not in myAlbum %}         
                    <a class="btn btn-success" href="{{ path('app_cart', {'id_album': album.id}) }}">buy</a>
                {% endif %}
            {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn-success" href="{{ path('app_album_edit', {'id': album.id}) }}">edit</a>
                {% endif %}
            </div>
        </div>
        {% else %}
        <p class="no-album">Nothing is here</p>
        {% endfor %}
    </div>
    
    {% if is_granted('ROLE_ADMIN') %}
    <a class="btn-create-new btn btn-info" href="{{ path('app_album_new') }}">Create new</a>
    {% endif %}
{% endblock %}